<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - URL shortener</title>
    <link href="./css/site.css" rel="stylesheet">
    <link href="./lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="./lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="./lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="./lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <script src="./lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
